<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>App</title>
    </head>
    <body style="padding:20px">
        <ul>
            <li><a href="categoria">categoria</a></li>
            <li><a href="categoria_simples">categoria_simples</a></li>
            <li><a href="super_categoria">super_categoria</a></li>
            <li><a href="tem_outra">tem_outra</a></li>
            <li><a href="produto">produto</a></li>
            <li><a href="tem_categoria">tem_categoria</a></li>
            <li><a href="ivm">ivm</a></li>
            <li><a href="ponto_de_retalho">ponto_de_retalho</a></li>
            <li><a href="instalada_em">instalada_em</a></li>
            <li><a href="prateleira">prateleira</a></li>
            <li><a href="planograma">planograma</a></li>
            <li><a href="retalhista">retalhista</a></li>
            <li><a href="responsavel_por">responsavel_por</a></li>
            <li><a href="evento_reposicao">evento_reposicao</a></li>
        </ul>
    </body>
</html>
